@import '../../sass_variables/variables.scss';
@import '../../sass_mixins/mixin.scss';

.aside{
    width: 100%;
    max-width: 320px;
    background-color: $bg-color;
    border-radius: $card-border-radius;
    margin-top: 40px;
    padding: 20px;
}