@import "../../sass_mixins/mixin.scss";
@import "../../sass_variables/variables.scss";

.contacts-container{
    width: 100%;
    max-width: 240px;
    padding: 10px 5px;
    border-radius: $card-border-radius;
    @include column-center;
    background-color: $bg-color-secondary;
    margin: 30px auto;

    .contact{
      width: 100%;
      border-bottom: 1px solid #3b3d3d;
      padding: 10px 0;
      @include center;

        svg{
            width: 10%;
         }
        
        .value-contacts{
            width: 90%;
            margin-left: 8%;
 
            p , a{
                margin: 5px 0;
                color: $text-color;
            }

            a{
                text-decoration: none;
                font-weight: bold;
            }
 
        }

        .phone{
            color: #bc2a8d;
        }

        .email{
            color: #c17ceb;
        }

        .location{
            color: #6ab5b9;
        }
    }


}