@import "../../sass_mixins/mixin.scss";
@import "../../sass_variables/variables.scss";

.main-container {
    position: relative;
    top: -18px;
    padding: 40px;
    width: 100%;
    max-width: 900px;
    background-color: $bg-color;
    border-radius: $card-border-radius;
}