@import "../../sass_mixins/mixin.scss";
@import "../../sass_variables/variables.scss";

.profile-container{
  @include column-center;
}

.photo-profile{
    width: 100%;
    max-width: 160px;
    height: 25vh;
    background-image: url("../../../public/images/profile.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -40px;
}

.title-developer{
    background-color: $bg-color-secondary;
    padding: 5px;
    color: $text-color-secondary;
    border-radius: $card-border-radius;
}

.social-medias{
    @include center;
    width: 100%;
    margin-top: 30px;
    max-width: 200px;

    a{
      @include center;
      font-size: 25px;
      background-color: $bg-color-secondary;
      border-radius: $card-border-radius;
      padding: 6px;
     }

    .linkedin{
      color: #0072b1;
    }

    .instagram{
        color: #bc2a8d;
    }

    .github{
        color: #fff;
    }
}





