@import "../../sass_mixins/mixin.scss";
@import "../../sass_variables/variables.scss";

.title-technologies{
    @include flex-start;
    margin-top: 20px;
    h1{
        color: $text-color;
        font-size: 2.5em
    }
}

.line-title{
    @include gradient-border;
    margin-left: 30px;
}

.technologies-container{
    @include flex-wrap;
    width: 100%;
    margin-top: 20px;


    .container-tech{
        @include center;
        width: 49%;
        padding: 15px;
        border: 1px solid $text-color-secondary;
        margin-top: 20px;
         
        .container-svg{
            width: 15%;

            svg{
                width: 40px;
                height: 40px;
             }
        }

        #html{
            color: #E44D26;
        }

        #css{
            color: #1572B6;
        }
        #typescript{
            color: #1572B6;
        }

        #js{
            color: #F0DB4F;
        }

        #react{
            color: #61DAFB;
        }

        #sass{
            color:#ba2749;
        }

        #git{
            color: #fc5a35;
        }

        .information-tech{
            width: 85%;
            margin-left: 15px;

            h2{
                color: $text-color;
                font-size: 1.3em;
            }

            p{
                color: $text-color-secondary;
                font-size: 1em;
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 1000px){
    .technologies-container{
        @include column-center;
    }

    .container-tech{
        @include flex-center;
         width: 100% !important;
    }
}

