 @import "./sass_variables/variables.scss";
 @import "./sass_mixins/mixin.scss";

 .components {
   @include flex-center;
   gap: 4%;
 }

.btn{
  @include btn;
}

a{
    text-decoration: none;
 }

h1.title-developer{
  background: $gradient;
  -webkit-text-fill-color: transparent;
   background-clip: text;
   font-size: 4em;
}

@media (max-width: 768px){
  .title-developer{
    text-align: center;
  }

  .components{
    @include column-center;
  }
}


  