@import "./sass_variables/variables.scss";

.btn{
  color: $text-color;  
  background-color: $gradient;
  padding: 10px;
  border-radius: 20px;
}

a{
    text-decoration: none;
}

h1{
  background: $gradient;
  -webkit-text-fill-color: transparent;
   background-clip: text;
   font-size: 5em;
}